cmake
data
*.pyc
src
docs
output
.vscode
new_gradients_bw_debug.dump
new_gradients_bw_no_debug.dump
new_snapshot_bw_debug.dump
new_snapshot_bw_no_debug.dump
original_gradients_bw_debug.dump
original_gradients_bw_no_debug.dump
original_snapshot_bw_debug.dump
original_snapshot_bw_no_debug.dump
debugging_test
load_dump.py
train_cudastream.nsys-rep
train_original.py

profiler_test_before_submission.nsys-rep
original_code_profiler.nsys-rep


train_batch_2_cudastream_new.nsys-rep
train_batch_2_cudastream_report_asynch_backward_pass.png
train_batch_2_cudastream_report_asynch_forward_pass.png
train_batch_2_cudastream_report_asynch_forward_pass.png
train_batch_2_cudastream_report_asynch.nsys-rep
train_batch_2_cudastream_report_synch_backward_pass.png
train_batch_2_cudastream_report_synch_backward_pass.png
train_batch_2_cudastream_report_synch_forward_pass.png
train_batch_2_cudastream_report_synch.nsys-rep
train_batch_2_cudastream_test_2.nsys-rep
train_batch_2_cudastream_test_3.nsys-rep
train_batch_2_cudastream_test_4.nsys-rep
train_batch_2_cudastream_test_5.nsys-rep
train_batch_2_cudastream_test_6.nsys-rep
train_batch_2_cudastream_test_7.nsys-rep
train_batch_2_cudastream_test_8.nsys-rep
train_batch_2_cudastream_test_9.nsys-rep
train_batch_2_cudastream_test_11.nsys-rep
train_batch_2_cudastream_test.nsys-rep
train_batch_4_cudastream_new.nsys-rep
train_batch_4_cudastream_report_asynch_backward_pass.png
train_batch_4_cudastream_report_asynch_forward_pass.png
train_batch_4_cudastream_report_asynch.nsys-rep
train_batch_4_cudastream_report_synch_backward_pass.png
train_batch_4_cudastream_report_synch_forward_pass.png
train_batch_4_cudastream_report_synch.nsys-rep
train_batch_4_cudastream.nsys-rep

profiler_test_before_submission_synch_behavior.nsys-rep